
@font-face {
    font-family: "Exo2";
    src: url("../css/Exo2-Regular.ttf");
}

*{
    margin: 0;
    padding: 0;
    font-family: "Exo2";
}

.home{
    display: flex;
}

.nav{
    background-color: #17a2b8;
    height: 100vh;
    padding: 10px 0px;
    margin-right: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    width: 200px;
}

.nav h3{
    color: white;
    text-align: center !important;
    padding-bottom: 15px;
    margin: 0 auto;
}

.nav ul{
    padding: 0;
    margin: 0;
    width: 100%;
}

.nav ul li{
    list-style: none;
    padding: 10px;
}

.nav ul li:hover{
    background-color: #158a9c;
}

.nav ul li a{
    text-decoration: none;
    color: white;
    display: block;
}

.nav ul li a i{
    margin-right: 5px;
}

/* HOME START */

.home{
    display: flex;
    justify-content: space-between;
}

.home .navBar{
    width: 12%;
}

.home .content{
    width: 90%;
    padding: 15px ;
}

/* HOME END */


.navPage a{
    color: black;
    text-decoration: none;
}

/* STUDENT START */

.studentPage .content a{
    text-decoration: none;
}

.content table{
    width: 100%;
}

.content table thead th{
    padding: 5px 10px;
    text-align: center;
}

.content table tbody td{
    text-align: center;
    padding: 5px 0px;
    border-bottom: 1px solid gainsboro;
}

/* STUDENT END */

/* NEW STUDENT START */

.newStudent{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.newStudent .list table{
    width: 100%;
    margin-top: 15px;
}

.list table thead th{
    padding: 5px 0px;
    text-align: center;
}

.list table tbody td{
    text-align: center;
    padding: 5px 0px;
    border-bottom: 1px solid gainsboro;
}

.newStudent .form{
    margin-top: 15px;
}

.newStudent .form input,
.newStudent .form select,
.newStudent .form textarea{
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 1px solid gainsboro;
    margin-bottom: 10px;
    background-color: transparent;
}

.newStudent .form p{
    margin: 10px 0px;
}

.newStudent .form button{
    padding: 5px 35px;
    margin-top: 15px;
    border: none;
    border-radius: 5px;
    background-color: #17a2b8;
    color: white;
}

/* NEW STUDENT END */

.newStudent .add{
    background: #f3f3f373;
    padding: 10px;
    border-radius: 10px;
}

.content table {
    text-align: center;
    width: 100%;
    background: #f3f3f373;
    padding: 10px;
    border-radius: 10px;
}

.content table thead th{
    background-color: #e5e5e5a6;
    padding: 5px 0px;
}